<!-- Inherit from base.html -->
{% extends "base.html" %}

<!-- Load internationalization tags for content translation -->
{% load i18n %}

<!-- Load CrispyForms -->
{% load crispy_forms_tags %}

<!-- Set page title to "Sign Up"-->
{% block head_title %}
{% trans "KnitSpace | Sign Up" %}
{% endblock %}

<!-- Start Content Block -->
{% block content %}
<div class="container d-flex justify-content-center my-5">
  <div class="card shadow-sm px-4 py-3" style="max-width: 600px;">
    <div class="card-body">
      <!-- Headings -->
      <h3 class="text-center mb-4">{% trans "New Here?" %}</h3>
      <p class="mb-3 text-center">
        <!-- Translation Block -->
        {% blocktrans %}
        Please enter your details below to create an account.
        {% endblocktrans %}
      </p>
      <!-- Sign Up Form -->
      <form method="post" action="{% url 'account_signup' %}">
        <!-- Cross-Site request forgery protection -->
        {% csrf_token %}
        <!-- Formfields rendered with CrispyForms -->
        {{ form|crispy }}
        <!-- Redirect after successful login -->
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <!-- Sign Up Button -->
        <div class="d-flex justify-content-center">
          <button class="btn btn-secondary mt-3 px-4" type="submit">
            {% trans "Sign Up" %}
          </button>
        </div>
      </form>
      <hr>
      <!-- Link to Sign In -->
      <p class="text-center mt-3">
        <!-- Translation Block -->
        {% blocktrans %}
        Already have an account? <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ login_url }}">Sign in</a> instead.
        {% endblocktrans %}
      </p>
    </div>
  </div>
</div>
<!-- End Content Block -->
{% endblock %}