<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Posts list</h1>

    <!-- The basic list view is adapted from Code Institute's "I think therefore I blog" walkthrough -->
    {% for blogpost in object_list %}
    <h2>{{blogpost.title}}</h2>
    <p>Author: {{blogpost.author}}</p>
    <p>{{blogpost.excerpt}}</p>
    {% endfor %}

</body>

</html>

