<!-- Inherit from base.html -->
{% extends 'base.html' %}

<!-- Load Static Library -->
{% load static %}

<!-- Start Content Block -->
{% block content %}
<div class="container">

    <!-- Navigation Buttons -->
    <div class="row mt-2">
        <!-- Return Button (to previous page) -->
        <div class="col-auto">
            <a href="javascript:history.back()" class="btn btn-secondary mb-3"> &laquo; Return</a>
        </div>
        <!-- Save to Dashboard Button (only for logged-in users) -->
        <div class="col-auto">
            {% if user.is_authenticated %}
            <form action="{% url 'save_post' blogpost.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary mb-3">Save to Dashboard</button>
            </form>
            {% endif %}
        </div>
    </div>

    <!-- User Feedback Message -->
    {% if messages %}
        <div>
            {% for message in messages %}
                {% if 'post_action' in message.tags %}
                    <div class="alert alert-success" role="alert">
                        {{ message|safe }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Blog Post Details Card -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 card mb-4">
                <div class="card-body position-relative">

                    <!-- Blog Post Image (only if custom image has been provided)-->
                    <div class="post-image">
                        {% if not "placeholder" in blogpost.featured_image.url %}
                            <img class="img-fluid rounded-3" src="{{ blogpost.featured_image.url }}" alt="{{ blogpost.title }}">
                        {% endif %}
                    </div>
                    
                    <!-- Blog Post Title and Metadata -->
                    <h1 class="post-title">{{ blogpost.title }}</h1>
                    <p class="post-subtitle"><em>by {{ blogpost.author }} | {{ blogpost.created_on }}</em></p>

                    <!-- Edit and Delete Dropdown (visible to post author only) -->
                    {% if request.user == blogpost.author %}
                    <div class="dropdown position-absolute top-0 end-0 mt-2 me-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'edit_blogpost' blogpost.id %}" class="dropdown-item">Edit Post</a>
                            </li>
                            <li>
                                <button class="dropdown-item btn-delete text-danger" data-post-id="{{ blogpost.id }}" data-post-title="{{ blogpost.title }}">
                                    Delete Post
                                </button>   
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                    <!-- Blog Post Content -->
                    <div class="card-text">
                        {{ blogpost.content | safe }}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Delete BlogPost Confirmation Modal -->
    <!-- The Modal has been adapted from Code Institute's "I think therefore I blog" walkthrough-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete this post?
                        <br>
                        This cannot be undone.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form id="deleteForm" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Content Block -->
{% endblock content %}