<!-- Inherit from base.html -->
{% extends 'base.html' %}

<!-- Load Static Library -->
{% load static %}

<!-- Start Content Block -->
{% block content %}


<div class="masthead">
    <div class="container">
        <!-- Back Button -->
        <div class="row mt-3">
            <div class="col-md-12">
                <a href="javascript:history.back()" class="btn btn-secondary mb-3">Back</a>
            </div>
        </div>

        <!-- Save Button-->
        {% if user.is_authenticated %}
        <form action="{% url 'save_post' blogpost.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary mb-3">Save</button>
        </form>
        {% endif %}


        <!-- Blog Post Details -->
        <div class="row">
            <div class="col-md-12 card mb-4">
                <div class="card-body">
                    <!-- Blog Post Header -->
                    <h1 class="post-title">{{ blogpost.title }}</h1>
                    <p class="post-subtitle"><em>by {{ blogpost.author }} | {{ blogpost.created_on }}</em></p>
                    <!-- Blog Post Content -->
                    <p class="card-text">
                        <!-- "safe" for HTML rendering -->
                        {{ blogpost.content | safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Content Block -->
{% endblock content %}