<!-- Inherit from base.html -->
{% extends 'base.html' %}

<!-- Load internationalization tags for content translation -->
{% load i18n %}

<!-- Load CrispyForms -->
{% load crispy_forms_tags %}

<!-- Set page title to "Create a Post" with translation support -->
{% block head_title %}
{% trans "KnitSpace | Create a Post" %}
{% endblock %}

<!-- Start Content Block -->
{% block content %}

<div class="container mt-3">

    <!-- Cancel / Back Button (to previous page) -->
    <div class="row mt-3">
        <div class="col-12">
            <a href="javascript:history.back()" class="btn btn-secondary mb-3"> Cancel & Return</a>
        </div>
    </div>

    <h1 class="post-title text-center pb-3">A Penny for Your Thoughts, Liebchen...</h1>

    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <!-- Formfields rendered with CrispyForms -->
                {{ form|crispy }}
                

                <!-- Submit Button -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-secondary mb-3">
                        Create Post
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Content Block -->
{% endblock %}