<!-- Inherit from base.html -->
{% extends "base.html" %}

<!-- Load Static Library -->
{% load static %}

<!-- Start Content Block -->
{% block content %}

<div class="container">
    <div class="row">
        <!-- Preview Cards -->
        <!-- Loop through each blog post -->
        {% for blogpost in object_list %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="{% url 'blogpost_detail' blogpost.slug %}" class="text-decoration-none text-dark">
                <div class="card mb-5 shadow-sm hover-card">
                    <!-- Image -->
                    <img src="{% static 'images/default.png' %}" class="img-fluid" alt="{{ blogpost.title }}" />
                    <div class="card-body">
                        <!-- Title -->
                        <div class="card-title">
                            <h2>{{ blogpost.title }}</h2>
                        </div>
                        <!-- Author & Date -->
                        <div class="card-text">
                            <p> <em>by {{ blogpost.author }} | {{ blogpost.last_modified }}</em></p>
                        </div>
                        <!-- Excerpt -->
                        <div class="card-text">
                            <p>{{ blogpost.excerpt }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

    <!-- Pagination (if applicable)-->
    <!-- The pagination section has been adapted from Code Institute's "I think therefore I blog" walkthrough -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- Back Button -->
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; Back </a></li>
            {% endif %}

            <!-- Next Button -->
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>
<!-- End Content Block -->
{% endblock %}