<!-- Inherit from base.html -->
{% extends "base.html" %}

<!-- Load Static Library -->
{% load static %}

<!-- Load internationalization tags for content translation -->
{% load i18n %}

<!-- Set page title to "Dashboard" with translation support -->
{% block head_title %}
{% trans "KnitSpace | Dashboard" %}
{% endblock %}

<!-- Start Content Block -->
{% block content %}

<div class="container">

    <!-- User Feedback: Post deleted -->
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <!-- Switch to My Posts Button -->
    <div class="row mt-3">
        <div class="col-12">
            <a href="{% url 'user_blogposts' %}" class="btn btn-secondary mb-3">Switch to Your Posts</a>
        </div>
    </div>

    <!-- Customized Greeting -->
    <h1 class="post-title text-center">Welcome to your Dashboard, {{ request.user.username }}!</h1>
    <hr>

    <!-- Sorting Instructions (only visible if there are any saved posts) -->
    {% if saved_posts %}
        <div class="row">
            <p class="text-center text-muted"><i class="fa-solid fa-circle-info"></i> Drag and drop your posts to rearrange them.</p>
        </div>
    {% endif %}

    <!-- Saved Posts -->
    <div class="row">
        <div class="saved-posts">
            <!-- The sortable functionality has been adapted from https://jqueryui.com/sortable/ -->
            <ul id="sortable" class="list-unstyled">
                {% for saved_post in saved_posts %}
                    <li class="ui-state-default mb-3" data-id="{{ saved_post.id }}">
                        <div class="card hover-card">
                            <div class="row g-0 align-items-center">
                                <!-- Post Details -->
                                <div class="col-md-9">
                                    <!-- Clickable to return to full page post view -->
                                    <a href="{% url 'blogpost_detail' slug=saved_post.post.slug %}" class="text-decoration-none text-dark">
                                        <div class="card-body">
                                            <!-- Title -->
                                            <h5 class="card-title m-0">{{ saved_post.post.title }}</h5>
                                            <!-- Meta Information -->
                                            <p class="card-text"><small class="text-muted"><em>by {{ saved_post.post.author }} | {{ saved_post.post.created_on }}</em></small></p>
                                        </div>
                                    </a>
                                </div>
                                <!-- Responsive Button Area -->
                                <div class="col-12 col-md-3 text-center text-md-end px-3 mt-2 mt-md-0 pb-3 pb-md-0">
                                    <!-- Form for deleting the post -->
                                    <form action="{% url 'delete_saved_post' post_id=saved_post.post.id %}" method="post" class="mb-0">
                                        {% csrf_token %}
                                        <!-- Delete Button -->
                                        <button type="submit" class="btn btn-secondary w-75 w-md-auto">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                <!-- Placeholder text if no saved posts are available -->
                {% empty %}
                    <p class="text-center">No saved posts yet. <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'home' %}">Start saving your favorite blog posts!</a></p>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- jQuery and jQuery UI -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js"></script>

<!-- Pass CSRF token and URL to JavaScript -->
<script>
    const CSRF_TOKEN = '{{ csrf_token }}';
    const SORT_POSTS_URL = '{% url "sort_posts" %}';
</script>

<!-- Custom JavaScript -->
<script src="{% static 'js/script.js' %}"></script>

<!-- End Content Block -->
{% endblock %}