<!-- Inherit from base.html -->
{% extends "base.html" %}

<!-- Load Static Library -->
{% load static %}

<!-- Load internationalization tags for content translation -->
{% load i18n %}

<!-- Set page title to "Dashboard" with translation support -->
{% block head_title %}
{% trans "Dashboard" %}
{% endblock %}

<!-- Start Content Block -->
{% block content %}

<div class="container">

    <!-- User Feedback: Post deleted -->
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <h1 class="post-title">Welcome to your Dashboard, {{ request.user.username }}!</h1>
    </div>
    <div class="row">
        <div class="saved-posts">
            <!-- Iterate over saved_posts and display each one -->
            {% for saved_post in saved_posts %}
            <!-- Whole card becomes clickable link -->
            <a href="{% url 'blogpost_detail' slug=saved_post.post.slug %}" class="card-link">
                <div class="card mb-4 hover-card">
                    <!-- Post information that are being displayed -->
                    <div class="card-body">
                        <h3 class="card-title">{{ saved_post.post.title }}</h3>
                        <h6 class="card-subtitle mb-2 text-muted">by {{ saved_post.post.author }} | {{ saved_post.post.created_on }}</h6>
                    </div>
                </div>
            </a>
            <!-- Delete post from dashboard -->
            <form action="{% url 'delete_saved_post' post_id=saved_post.post.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary mb-3">
                    Delete
                </button>
            </form>
            <!-- Alternative text if no saved posts available -->
            {% empty %}
                <p>No saved posts yet. Start saving your favorite blog posts!</p>
            {% endfor %}
        </div>
    </div>
</div>

<!-- End Content Block -->
{% endblock %}

