<!-- Inherit from base.html -->
{% extends "base.html" %}

<!-- Load Static Library -->
{% load static %}

<!-- Load internationalization tags for content translation -->
{% load i18n %}

<!-- Set page title to "Sign In"-->
{% block head_title %}
{% trans "Dashboard" %}
{% endblock %}

<!-- Start Content Block -->
{% block content %}

<div class="container">
    <div class="row">
        <h1 class="post-title">Welcome to your Dashboard, {{ request.user.username }}!</h1>
    </div>
</div>

<!-- End Content Block -->
{% endblock %}

